<template>
    <div>
        <h1>Editer le film : {{movie_to_edit.title}}</h1>
        <div class="form">
            <div class="film">
                <h2> Film </h2>
                <v-text-field v-model="movie_to_edit.title" label="Titre du film"> </v-text-field>
                <v-text-field v-model="movie_to_edit.year" label="Année de parution"> </v-text-field>
                <v-text-field v-model="movie_to_edit.lang" label="Langue originale"> </v-text-field>
                <v-select v-model="movie_to_edit.type" :items="types" label="Genre du film" outline></v-select>
                <v-textarea
                    label="Synopsys"
                    v-model="movie_to_edit.synopsys"
                ></v-textarea>

                <v-text-field v-model="movie_to_edit.img" label="Affiche du film"></v-text-field>
            </div>
            <div class="real">
                <h2> Réalisateur </h2>
                <v-text-field v-model="movie_to_edit.dirFirstname" label="Prénom"> </v-text-field>
                <v-text-field v-model="movie_to_edit.dirLastname" label="Nom"> </v-text-field>
                <v-text-field v-model="movie_to_edit.dirNation" label="Nationalité"> </v-text-field>
                    <v-menu
                    :close-on-content-click="false"
                    v-model="menu2"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                    >
                        <v-text-field
                            slot="activator"
                            v-model="movie_to_edit.dirBorn"
                            label="Date de naissance"
                            prepend-icon="event"
                            readonly
                        ></v-text-field>
                        <v-date-picker v-model="date" @input="menu2 = false"></v-date-picker>
                    </v-menu>
                    <div class="button">
                        <router-link :to="{name:'infoMovie',params:{id:movie.id}}" tag="button"><v-btn color="success" v-on:click="save">Valider</v-btn></router-link>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            movies: window.shared_data.movies,
            movie: window.shared_data.movies[this.$route.params.id],
            types: ['Aventure', 'Horreur', 'Action', 'Science-Fiction', 'Historique', 'Comédie', 'Romantique'],
            //date: this.movie_to_edit.dirBorn,
            menu: false,
            modal: false,
            menu2: false
        }
    },

    methods: {
        save: function() {
            this.movie_to_edit = null
        },
    },
    computed: {     
        movie_to_edit: function() {         
            return this.movies.find(obj => {             
                return obj.id == this.$route.params.id;         
            })     
        }   
    },
}
</script>

<style scoped>

    h1{
        text-align: center;
        font-size: 45px;
        margin-top: 20px;
    }
    .form{
        display: flex;
        width: 800px;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 50px;
    }
    h2{
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }

    .button{
        margin-top: 20px;
        text-align: center;
    }


</style>