<template>
<div id="app">
    <v-app>
      <v-content>
        <v-container>
            <div class="menu">
                <router-link :to="{name:'newMovie'}" tag="button"><v-btn color="success">Ajouter un film</v-btn></router-link>
                <v-text-field v-model="search" hide-details prepend-icon="search" style="flex:inherit"></v-text-field>
            </div>
            <div class="films">
                <movie-item v-for="(movie,index) in movies_search" v-bind:key="movie.title" v-bind:movie="movie" v-on:remove="remove(index)"></movie-item>
            </div>
        </v-container>
      </v-content>
    </v-app>
  </div>

    
</template>

<script>
export default {
    data() {
        return {
            search: "",
            movies: window.shared_data.movies,
            movie: window.shared_data.movies[this.$route.params.id]
        }
    },

    methods: {
        remove: function(index) {
            this.movies.splice(index,1)
        },
    },

    computed: {
        movies_search: function() {
            return this.movies.filter(m => m.title.toLowerCase().indexOf(this.search.toLowerCase())!=-1);
        }
        
    },
}
</script>

<style scoped>
     .menu{
        display: flex;
        justify-content: center;
        
     }
     .films{
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         margin-top: 30px;
     }

</style>
