<template>
    <div>
        <div class="container">
            <img :src="movie.img" alt="affiche" height="600px">
            <div class="infos">
                <h1>{{movie.title}}</h1><br/>
                <p><b>Synopsys</b> : {{movie.synopsys}}</p>
                <p><b>Année de sortie</b> : {{movie.year}}</p>
                <p><b>Langue originale</b> : {{movie.lang}}</p>
                <p><b>Genre</b> : {{movie.type}}</p>
                <p><b>Realisateur</b> : {{movie.dirFirstname}} {{movie.dirLastname}} ({{movie.dirNation}}, né le {{movie.dirBorn}})</p>
                <p><b>Notez ce film !</b> </p>
                <v-rating v-model="movie_to_edit.note"></v-rating>
                <router-link :to="{name:'home'}" tag="button"><v-btn color="info">Retour à la liste des films</v-btn></router-link>
                <router-link :to="{name:'editMovie',params:{id:movie.id}}" tag="button"><v-btn color="success">Editer le film</v-btn></router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            movies: window.shared_data.movies,
            movie: window.shared_data.movies[this.$route.params.id],
        }
    },

    methods: {
        
    },

    computed: {     
        movie_to_edit: function() {         
            return this.movies.find(obj => {             
                return obj.id == this.$route.params.id;         
            })     
        }   
    },
}
</script>

<style scoped>
    .container{
        display: flex;
        width: 1200px;
        flex-direction: row;
        margin-top: 20px;
        margin: 0 auto;
        justify-content: space-between;
    }
    .infos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 25px;
    }
</style>