<template>
    <div class="film">
        <h2>{{movie.title}}</h2><img :src="movie.img" alt="affiche" height="400px" width="300px"><div class="buttons"> <router-link :to="{name:'infoMovie',params:{id:movie.id}}" tag="button"><v-btn color="info">Voir les informations du film</v-btn></router-link><v-btn color="error" v-on:click="btnRemove" >Supprimer le film</v-btn></div>
    </div>
</template>
<script>
export default {
    data: function() {
        return {
        }
    } ,
    props:['movie'],
    methods: {
        btnRemove() {
            this.$emit('remove')
        },
    },
}
</script>
<style scoped>
     h2{
        font-size:40px;    
        }
    .buttons{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        }
        .film{
         display: flex;
         align-items: center;
         flex-direction: column;
     }   
</style>