#app{
    font-family: Verdana, sans-serif;
    background-color: lightgray;
}

header{
    background-color: black;
    height: 200px;
}

body{
    background-color: lightgray;
}

.top{
    font-size:50px;
    font-family: Verdana, sans-serif;
    color: white;
    text-align: center;
}